<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<Properties>
		<Property name="LOG_PATTERN">
			%d{ISO8601} | %-5p | %c{5} | %m%n
		</Property>
	</Properties>

	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<RollingFile name="FileAppender" filename="../logs/aladin_api.log" immediateFlush ="true" filePattern="../logs/aladin_api-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>


	<Loggers>

		<AsyncLogger name="org.hibernate.SQL" level="trace" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</AsyncLogger>
		<AsyncLogger name="com.karimerri.aladin_api" level="trace" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</AsyncLogger>
		
		<AsyncLogger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </AsyncLogger>
        		<AsyncLogger name="org.springframework.security" level="error" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </AsyncLogger>
		<Root level="error">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Root>
	</Loggers>
</Configuration>